.fk-scroll-top {
  position: fixed;
  right: 24px;
  bottom: 32px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #2874f0;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 120;
}


